/* Base */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 1.5px;
}
h2 {
    font-size: 28px;
}

/* Parts */
.btn_base {
    text-decoration: none;
    background: #FF4F02;
    color: #fff;
    padding: 11px 40px;
    border-radius: 25px;
    opacity: 0.7;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.btn_base:hover {
    opacity: 1;
}
.textl {
    font-size: 28px;
    font-weight: 600;
}
.textm {
    font-size: 20px;
    font-weight: 600;
}
.texts {
    font-size: 16px;
    font-weight: 600;
}
.textxs {
    font-size: 14px;
    font-weight: 300;
}
.brsm {
    display: none;
}
@media (max-width:768px) {
    .textl {
        font-size: 18px;
        font-weight: 600;
        line-height: 2.0;
    }
    .textm {
        font-size: 15px;
        font-weight: 600;
    }
    .texts {
        font-size: 12px;
        font-weight: 600;
    }
    .textxs {
        font-size: 12px;
        font-weight: 300;
    }
    .brsm {
        display: block;
    }
    .brsm_rm {
        display: none;
    }
}

/* header */
header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 10;
}
header > .container-fluid {
    display: flex;
    width: 1170px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    height: 65px;
    align-items: center;
    padding: 40px 0;
}
.header_logo > img {
    width: 130px;
}
.header_title {
    margin-top: auto;
    margin-left: 5px;
    font-weight: 600;
}
.header_contact {
    margin-left: auto;
}
.header_contact a {
    text-decoration: none;
    color: #fff;
}
.header_sm_contact {
    display: none;
}
@media (max-width:768px) {
    header > .container-fluid {
        max-width: 100%;
        height: 60px;
        padding: 0;
    }
    .header_logo {
        position: absolute;
        top: 25px;
        left: 10px;
        margin-top: 0;
    }
    .header_logo > img {
        width: 90px;
    }
    .header_title {
        position: absolute;
        top: 8px;
        left: 10px;
        font-size: 10px;
        letter-spacing: 0px;
        margin-left: 0px;
    }
    .header_contact {
        display: none;
    }
    .header_sm_contact {
        display: block;
        position: absolute;
        text-align: center;
        right: 0;
        top: 0;
        padding: 8px 11px;
        background-color: #da6b64;
    }
    .header_sm_contact > img {
        display: block;
        width: 20px;
        margin: auto;
    }
    .header_sm_contact > a {
        display: block;
        color: #fff;
        margin: auto;
        font-size: 12px;
    }
}

/* top */
.top {
    background-image: url('../img/main.jpg');
    background-position: center;
    background-size: 100%;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 80px;
}
.top h2 {
    line-height: 2.0;
}
.top_logo {
    width: 320px;
    margin-bottom: 50px;
}
.top_content {
    font-size: 20px;
    line-height: 0.3;
    font-weight: bold;
}
@media (max-width:768px) {
    .top {
        background-image: url("../img/mainsp.jpg");
        height: 380px;
        padding-top: 80px;
    }
    .top h2 {
        line-height: 1.5;
    }
}

/* first_contact */
.first_contact {
    background-color: #ebb94d;
    text-align: center;
    padding: 40px 0;
}
.first_contact p {
    color: #fff;
}
.first_contact code {
    background-color: #fff;
    color: #c7254e;
    padding: 2px 4px;
    border-radius: 5px;
}
.contact_button {
    margin: 45px auto 70px;
    padding: 40px;
    max-width: 1028px;
    border-radius: 100px;
}
.contact_button a {
    text-decoration: none;
    color: #fff;
}
@media (max-width:768px) {
    .contact_button {
        margin: 20px auto 40px;
        padding: 20px;
    }
    .spsm {
        font-size: 13px;
        letter-spacing: 1px;
    }
}

/* introduction */
.introduction {
    background-image: url('../img/introbottom.jpg');
    background-position: center;
    background-size: 100%;
    text-align: center;
    padding-bottom: 140px;
}
.introduction h2 {
    margin: 20px 0 60px;
}
.introduction p {
    margin: 20px 0;
}
@media (max-width:768px) {
    .introduction {
        background-repeat: no-repeat;
        background-position: center bottom;
        padding-bottom: 50px;
    }
    .introduction p {
        font-weight: 300;
    }
}


/* about */
.about {
    background-color: #fef5e0;
}
.about .container {
    padding: 0 0 60px;
}
.about_logo {
    position: relative;
    top: -40px;
}
.about_logo > .circle {
    color: #fff;
    background-color: #ebb94d;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
}
.about_text h2 {
    margin-bottom: 50px;
}
.about_list {
    background-color: #fff;
    border: 2px solid #ebb94d;
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
    max-width: calc(100% - 40px);
    border-radius: 5px;
}
.about_list > p {
    margin-bottom: 30px;
}
.about_skill ul {
    display: flex;
    justify-content: center;
}
.about_skill li {
    list-style: none;
    margin-right: 20px;
}
.about_skill li:last-child {
    margin-right: 0;
}
@media (max-width:768px) {
    .about_skill ul {
        flex-wrap: wrap;
        padding: 0 40px;
        margin-bottom: 0;
    }
    .about_skill li {
        list-style: none;
        width: 40%;
    }
    .about_skill img {
        width: 30px;
    }
    .about_skill li:nth-child(even) {
        margin-right: 0;
    }
}


/* step */
.step {
    background-image: url('../img/aboutsecondbg.jpg');
    background-size: 100%;
    color: #fff;
    padding: 50px 0 0;
}
.step .container-fluid {
    padding: 0px;
}
.orange {
    color: #ebb94d;
}
.step .container {
    width: 1170px;
    max-width: calc(100% - 20px);
    margin-top: 50px;
}
.stepbox {
    background-color: #fff;
    color: #333;
    padding: 30px 30px 20px;
    border-radius: 5px;
}
.step_title {
    background-color: #ebb94d;
    color: #fff;
    line-height: 1.5;
    border-radius: 5px;
}
.step-end {
    background-color: #016ea9;
    margin-top: 30px;
    padding: 30px 0;
}
@media (max-width:768px) {
    .step {
        background-image: url('../img/aboutsecondbgsp.jpg');
    }
    .step .textl {
        line-height: 1.0;
    }
    .step .textm {
        font-size: 13px;
        letter-spacing: 0;
    }
    .step .container {
        margin-top: 30px;
    }
    .stepbox {
        padding: 15px 40px 10px;
        line-height: 1;
    }
    .step-end {
        padding: 20px 0;
    }
    .step-end .textm {
        margin: 0;
    }
}

/* learning */
.learning {
    padding: 40px 0;
}
.learning .textl {
    margin-bottom: 40px;
}
.learning .textm {
    font-weight: 300;
}
.learning .container {
    padding: 0;
    width: 860px;
    max-width: calc(100% - 40px);
    margin: 40px auto;
}
.learning .row {
    flex-wrap: nowrap;
}
.learningbox img {
    width: 180px;
}
@media (max-width:768px) {
    .learning .container {
        margin: 20px auto;
        padding: 0 30px;
    }
    .learningbox {
        padding: 0 5px;
    }
}

/* advantages */
.advantages {
    padding: 40px 0;
    background-color: #fef5e0;
}
.three_advantages {
    width: 1170px;
    max-width: calc(100% - 20px);
    padding: 30px 0;
}
.advantage_item {
    text-align: left;
}
.advantage_item img {
    width: 100%;
    height: 180px;
}
.advantage_item .textm {
    color: #ebb94d;
}
.advantage_item .texts {
    font-weight: 300;
}
.after_support {
    background-color: #fff;
    border: 2px solid #ebb94d;
    width: 1170px;
    max-width: 100%;
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
.after_support .textl {
    color: #ebb94d;
}
@media (max-width:768px) {
    .advantage_item img {
        height: 120px;
        object-fit: cover;
    }
    .advantage_item .textm {
        text-align: center;
        margin: 10px 0;
    }
    .after_support {
        margin-top: 0;
        margin-bottom: 20px;
        padding: 10px 10px;
    }
    .after_support .texts {
        font-size: 10px;
    }
}

/* member */
.member {
    background-image: url(../img/teacherbg.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}
.member .container {
    width: 810px;
    max-width: 100%;
}
.member_img {
    position: relative;
    bottom: -35px;
}
.member_box {
    border: 2px solid #fff;
    padding: 40px;
}
.member_box .texts {
    font-weight: 300;
}
@media (max-width:768px) {
    .member_img {
        height: 120px;
    }
    .member_box {
        padding: 40px 10px 10px;
    }
}

/* possible */
.possible .container-fluid {
    background-color: #ebb94d;
    padding: 40px 0;
}
.possible .circle {
    background-color: #fff;
    color: #ebb94d;
    padding: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    border-radius: 50%;
}
.triangle {
    content: " ";
    width: 0;
    height: 0;
    margin: 0 auto;
    border: 25px solid transparent;
    border-top-color: #ebb94d;
}
.possible .answer {
    padding-bottom: 40px;
}
.answer_box {
    width: 760px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
}
.answer_box img {
    border: 2px solid #ebb94d;
    padding: 0;
    width: auto;
    height: 100%;
}
.answer_box p {
    font-size: 18px;
    text-align: left;
    font-style: italic;
    color: #777;
    margin-top: 20px;
    padding-left: 10px;
}
.answer_box .answer_person {
    font-size: 15px;
    text-decoration: underline;
}
@media (max-width:768px) {
    .possible .textl {
        font-size: 14px;
    }
    .answer .textl {
        font-size: 18px;
    }
}
@media (max-width: 479px) {
    .answer_box p {
        margin-top: 0;
        font-size: 14px;
    }
    .answer_box .answer_person {
        font-size: 12px;
    }
}

/* isara_contents */
.isara_contents {
    background-image: url(../img/classbg.jpg);
    padding-top: 40px;
}
.content_list {
    width: 780px;
    max-width: 100%;
    margin: 0 auto;
}
.content_table {
    background-color: #fff;
    border: 2px solid #016ea9;
    border-radius: 5px;
}
.content_table .theader {
    color: #fff;
    background-color: #016ea9;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}
.content_table .titem {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
}
.isara_contents .footer {
    background-color: #016ea9;
    color: #fff;
    margin-top: 40px;
    padding: 30px 0;
}
@media (max-width:768px) {
    .content_table {
        margin-bottom: 20px;
    }
    .content_table .theader{
        font-size: 15px;
    }
    .content_table .titem {
        font-size: 12px;
    }
    .isara_contents .footer {
        margin-top: 10px;
        padding: 20px 0 10px;
    }
}

/* course_flow */
.course_flow {
    padding-top: 50px;
    padding-bottom: 40px;
}
.flow_box {
    background-color: #fef5e0;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
}
.flow_box_left .textm {
    font-size: 18px;
}
.flow_box_right {
    text-align: left;
    padding-top: 10px;
}
.flow_sm {
    display: none;
}
@media (max-width:768px) {
    .flow_img {
        display: none;
    }
    .flow_pc {
        display: none;
    }
    .flow_sm {
        display: block;
    }
    .fpanel {
        background-color: #fef5e0;
        border-radius: left;
        text-align: left;
        margin-top: 5px;
    }
    .main-fpanel img {
        height: 50px;
        padding: 10px;
    }
    .main-fpanel a {
        color: #333;
    }
    .main-fpanel a[aria-expanded="false"]::after {
        font-family: "FontAwesome";
        content: "\f078";
        float: right;
        color: #333;
        padding: 10px;
    }
    .main-fpanel a[aria-expanded="true"]::after {
        font-family: "FontAwesome";
        content: "\f077";
        float: right;
        color: #333;
        padding: 10px;
    }
    .sub-fpanel {
        padding: 10px 15px;
    }
}

/* why_bangkok */
.why_bangkok {
    background-image: url(../img/bangkokbg.jpg);
    background-position: center;
    background-size: cover;
    text-align: left;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 60px;
}
@media (max-width:768px) {
    .why_bangkok {
        background-image: url(../img/bangkokbgsp.jpg);
        padding: 20px 15px 10px;
    }
    .why_bangkok .textl {
        font-size: 24px;
        text-align: center;
        letter-spacing: 3px;
    }
    .why_bangkok .textsss {
        font-size: 12px;
    }
    .why_bangkok ul {
        padding-left: 15px;
    }
    .why_bangkok li {
        margin-bottom: 10px;
    }
}

/* benefits */
.benefits {
    background-color: #f7c23c;
    padding: 40px 0;
}
.benefit_title {
    position: relative;
    bottom: -15px;
    background-color: #f7c23c;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}
.benefit_list {
    border: 2px solid #fff;
    padding: 40px;
}
.benefit_item {
    background-color: #fff;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.benefit_item_content {
    height: 250px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
}
.benefit_item_content .textm {
    color: #ebb94d;
}
.benefit_list_sm {
    display: none;
}
@media (max-width:768px) {
    .benefit_title {
        width: 70%;
        bottom: -35px;
        margin-top: 0;
    }
    .benefit_list {
        display: none;
    }
    .benefit_list_sm {
        display: block;
        border: 2px solid #fff;
        padding: 50px 50px 10px;
    }
    .benefit_item_sm {
        margin-bottom: 20px;
    }
    .benefit_left_sm {
        padding: 0;
        margin: 0;
    }
    .benefit_circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fff;
        color: #ebb94d;
        line-height: 60px;
    }
    .benefit_right_sm {
        padding: 0;
        padding-left: 10px;
        color: #fff;
        text-align: left;
    }
}

/* target_isara */
.target_isara {
    background-image: url(../img/specialdetail.jpg);
    background-position: center;
    background-size: cover;
}
@media (max-width:768px) {
    .target_isara .textm {
        font-size: 12px;
        letter-spacing: 0;
        margin: 0;
    }
}

/* message */
.message .container {
    width: 860px;
    max-width: calc(100% - 20px);
}
.message_box_right {
    text-align: left;
}

/* contact */
.contact {
    background-color: #ebb94d;
    padding: 40px 20%;
}
form#OF_form1 {
    width: 100%;
    text-align: center;
}
form#OF_form1 input {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 25px;
    border: none;
}
form#OF_form1 textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 25px;
    border: none;
}
form#OF_form1 input#OF_submit_btn1 {
    background-color: #da6b64;
    color: #fff;
    padding: 10px 80px;
    border-radius: 50px;
    font-size: 23px;
    font-weight: 600;
    border: none;
}
@media (max-width:768px) {
    .contact {
        padding: 30px 0 20px;
    }
}

/* question */
.main-panel {
    margin-top: 5px;
    padding: 20px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.main-panel i {
    color: #016ea9;
}
.main-panel a {
    color: #333;
    display: block;
}
.main-panel a[aria-expanded="false"]::after {
    font-family: "FontAwesome";
    content: "\f078";
    float: right;
    color: #e5e5e5;
}
.main-panel a[aria-expanded="true"]::after {
    font-family: "FontAwesome";
    content: "\f077";
    float: right;
    color: #e5e5e5;
}
.sub-panel {
    padding: 20px;
}
@media (max-width:768px) {
    .main-panel {
        padding: 10px;
    }
    .main-panel a {
        margin-right: 10px;
    }
    .main-panel a[aria-expanded="false"]::after {
        position: absolute;
        right: 30px;
    }
    .main-panel a[aria-expanded="true"]::after {
        position: absolute;
        right: 30px;
    }
}

/* footer */
footer {
    background-color: #ececec;
}
footer p {
    font-size: 10px;
    margin: 0 auto;
}

/* page_top */
#page_top {
    position: fixed;
    bottom: 90px;
    right: 50px;
}
#page_top a {
    background-color: #999;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 30px;
}
#page_top a:hover {
    background-color: #666;
    text-decoration: none;
}
@media (max-width:768px) {
    #page_top {
        display: none;
        bottom: 20px;
        right: 10px;
    }
    #page_top a {
        padding: 0 10px;
    }
}